body {
    /* background-image: url(../images/candy-bar-background.jpg);
    background-size: cover; */
    text-align: center;
}

.jumbotron > p {
    padding-left: 10%;
    padding-right: 10%;
}

.col-md-12, .col-md-9, .col-md-3 {
    padding-bottom: 30px;
}

.btn {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}